.form-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#forms {
  margin: 1rem;
  margin-top: 0;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.165);

  background: rgb(86, 170, 253);
  background: linear-gradient(
    190deg,
    rgba(86, 170, 253, 1) 33%,
    rgba(113, 185, 255, 1) 33%,
    rgba(105, 179, 250, 1) 73%,
    rgba(123, 190, 255, 1) 73%
  );
}

.label-input-wrapper {
  flex-direction: column;
  width: 100%;
}

#forms div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

#forms h2 {
  font-weight: lighter;
  color: #f1f1f1;
  font-size: 1.15rem;
}

#forms label {
  font-size: 0.8rem;
  font-weight: lighter;
  display: flex;
  align-items: center;
}

.checkbox-repeat {
  margin-left: 0.4rem;
}

.label-input-wrapper input,
.select-wrapper {
  width: 100%;
}
.select-wrapper select {
  text-align: center;
  border-radius: 5px;
  border: none;
}

#forms input {
  border-radius: 5px;
  border: none;
  text-align: center;
}

#forms select {
  width: 100%;
}

#forms input::-webkit-outer-spin-button,
#forms input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#forms button {
  color: #f1f1f1;
  text-transform: uppercase;
  background: #33c02000;
  width: 100px;
  height: 30px;
  border: 3px solid #f1f1f1;
  border-radius: 100px;
  display: inline-block;
  transition: all 1s ease 0s;
  cursor: pointer;
  margin-top: 0.25rem;
}

#forms button:hover {
  background: transparent;
  color: #f1f1f1;
  border-radius: 1px;
  border-color: #f1f1f1;
  transition: all 0.3s ease 0s;
  border-top: #fdfdfd00;
  border-left: #fdfdfd00;
  border-right: #fdfdfd00;
}
/* .formContent > .newBudgetLabel {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.newBudgetLabel > h2 {
  color: white;
  text-shadow: 1px 1px 5px black;
}

#forms {
  position: relative;
  border-radius: 15px;
  height: 100%;
  width: 50%;
  min-width: 200px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 35px;
  background: var(--gradeBlue);

} */

/* #forms > div {
  padding-bottom: 13px;
  text-align-last: center;
}

#forms > div > input, #forms > div > select {
  border-radius: 5px;
  width: 80%;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

#forms > div > button {
  padding: 0 35px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
}

button:hover {
  background-color: lightgray;
  cursor: pointer;
}

label {
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px black;
} */
