#notificationDiv{
display: flex;
justify-content: center;
align-items: center;
margin: 0;
border-radius: 25px;
color: white;
width:0.7em;
height: 0.7em;
background-color: indianred;
animation: notification 2s alternate infinite linear;
}

#notification{
    font-size: small;
    font-weight: bolder;
    text-align:center;
}

@keyframes notification {
    0%{transform:translateY(5px)}

    100%{transform:translateY(-10px)}

}