#notificationDiv{
margin-left: 4px;
display: inline-block;
border-radius: 25px;
color: white;
width:0.7em;
height: 0.7em;
background-color: indianred;
animation: notification 1s alternate infinite linear;
}   

#notificationText{
    font-size: 10px;
    text-align:center;
}

@keyframes notification {
    0%{transform:translateY(-3px)}

    100%{transform:translateY(-10px)}

}