.summaryBudget{
    --width: 400px;
   
    

    margin-bottom: 8px;
    transition: box-shadow 1s;
    background: var(--color);
    height: var(--height);
    width: calc(var(--width)*1px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--label-color, #000);
    border-radius: calc(var(--height) * var(--radius));
    box-shadow: calc(var(--width)*(1 - var(--progress, 0))*-1px) 0 0 blue inset;
  }
  
  