.containerBudget{
  background: var(--gradeBlue);
  border-radius: 20px;
}
.summaryBudget{
  font-size: x-large;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#summaryTotalId{
  width: 900;
  margin-top: 15px;
  box-shadow: calc(900 *(1 - var(--progress, 0))*-1px) 0 0 white inset, 0px 3px 10px 0px rgba(0, 0, 68, 0.555);
}
.summaryBudget1{
  --width: 700;
  --height: 40px;

  margin-bottom: 15px;
  background: var(--color);
  height: var(--height);
  width: calc(var(--width)*1px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:  #000;
  transition: box-shadow 1s;
  box-shadow: calc(var(--width)*(1 - var(--progress, 0))*-1px) 0 0 white inset, 0px 3px 10px 0px rgba(0, 0, 68, 0.555);
  border-radius: calc(var(--height) * var(--radius));
  }
  
  
