.containerBudgetContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerBudget {
  background: var(--gradeBlue);
  border-radius: 20px;
  width: 650px;
  justify-content: center;
  align-items: center;
}
.summaryBudget {
  font-size: large;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
}
#summaryTotalId {
  width: 500px;
  margin-top: 15px;
  box-shadow: calc(500 * (1 - var(--progress, 0)) * -1px) 0 0 white inset,
    0px 3px 10px 0px rgba(0, 0, 68, 0.555);
}
.summaryBudget1 {
  --width: 400;
  --height: 35px;

  margin-bottom: 15px;
  background: var(--color);
  height: var(--height);
  width: calc(var(--width) * 1px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  transition: box-shadow 1s;
  box-shadow: calc(var(--width) * (1 - var(--progress, 0)) * -1px) 0 0 white
      inset,
    0px 3px 10px 0px rgba(0, 0, 68, 0.555);
  border-radius: calc(var(--height) * var(--radius));
}
