@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
:root {
  --lightBlue: #7bbeff;
  --mediumBlue: #71b9ff;
  --darkBlue: #56aafd;
  --lightBlueGrey: #73b5f5;
  --lightGrey: #ebeaea;
  --mediumGrey: #e3e3e3;
  --darkGrey: #dfdfdf;
  --red: #e35454;
  --white: #ffffff;
  /*EXTRA?*/
  --textDarkBlue: #36618a;
  --gradeBlue: linear-gradient(
    190deg,
    var(--darkBlue) 33%,
    var(--mediumBlue) 33%,
    var(--mediumBlue) 73%,
    var(--lightBlue) 73%
  );
  --gradeGrey: linear-gradient(
    200deg,
    var(--darkGrey) 15%,
    var(--mediumGrey) 15%,
    var(--mediumGrey) 40%,
    var(--lightGrey) 40%
  );
  --progressbarBlue: repeating-linear-gradient(
    45deg,
    #7cadff,
    #7cadff 15px,
    #99beff 15px,
    #99beff 30px
  );
  --progressbarOrange: repeating-linear-gradient(
    45deg,
    #ffae4a,
    #ffae4a 15px,
    #fec57e 15px,
    #fec57e 30px
  );
  --progressbarRed: repeating-linear-gradient(
    45deg,
    #ff9898,
    #ff9898 15px,
    #ffb6b6 15px,
    #ffb6b6 30px
  );
}

html {
  overflow-y: scroll;
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  margin-top: 30px;
}
::-webkit-scrollbar-thumb {
  background: rgb(113, 185, 255);
  border-radius: 10px;
  border: solid 3px #f1f1f1;
}

@font-face {
  font-family: "Saira_Expanded";
  src: url(Saira_Expanded-Light.ttf);
}

* {
  font-family: Saira_Expanded;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: var(--white);
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 120px 1fr 25px;
}

.sidebarBox {
  background: var(--gradeGrey);
  grid-column: 1/2;
  grid-row: 1/3;
}
footer {
  grid-row: 3/4;
  position: absolute;
  bottom: 0;
}
.buttonPopup {
  margin-right: 0.75rem;
}
.sidebarList {
  font-size: 130%;
  color: var(--textDarkBlue);
  padding: 2rem 0;
  list-style: none;
  width: 100%;
}

.sidebarList > li {
  padding: 5%;
  width: 100%;
  padding-right: 0;
  padding-left: 20px;
  display: flex;
}

.sidebarList :hover {
  text-decoration-line: underline;
  cursor: pointer;
}

.maincontent {
  padding: 2rem;
  grid-column: 2/3;
  grid-row: 2/3;
}

.logoHeader {
  padding-top: 1.5rem;
  background-color: var(--darkGrey);
  color: var(--textDarkBlue);
  padding-left: 30px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

#profileName {
  padding-left: 10px;
}

#profileImage {
  object-fit: cover;
  border-radius: 6px;
}

.textHeader {
  color: var(--textDarkBlue);
  padding: 10px;
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 170%;
  grid-column: 2/3;
  grid-row: 1/2;
}

#logo {
  text-align: center;
  padding: 15px;
}

#bim {
  font-size: 0.6em;
}

.line {
  background-color: var(--darkGrey);
  width: 90%;
  height: 3px;
  border-top: none;
  border-left: none;
  margin: auto;
}

#dateSelector {
  padding: 15px;
  padding-left: 65px;
  width: 15em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#arrowLeft,
#arrowRight:hover {
  cursor: pointer;
}
.hamburger-menu-wrapper {
  display: none;
  position: absolute;
  left: 6.5%;
  height: 100%;
  cursor: pointer;
}
.active-hamburger {
  transform: rotate(90deg);
  animation: rotate 0.25s ease-in;
}
@media (max-width: 900px) {
  .hamburger-menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hamburger-menu-wrapper div {
    width: 1.75rem;
    height: 0.15rem;
    margin: 0.2rem 0;
    background: black;
  }
  .sidebarBox {
    display: none;
  }
  main {
    display: unset;
  }
  .logoHeader {
    display: none;
  }
  #logo {
    display: none;
  }
  .hidden {
    display: none;
  }
  .unset {
    display: unset;
    animation: fadeIn 1s ease-in;
  }
  .pos-unset {
    position: unset;
  }
  .logo-header-show {
    display: flex;
    background-color: unset;
  }
  #bim {
    font-size: 0.5rem;
  }
  .textHeader {
    justify-content: center;
    font-size: 120%;
    height: 4rem;
  }
  #dateSelector {
    padding: 1rem;
  }
}
@media (max-width: 500px) {
  .maincontent {
    padding: 1rem;
  }
  .textHeader {
    font-size: 80%;
  }
  .hamburger-menu-wrapper div {
    width: 1.5rem;
    height: 0.1rem;
    margin: 0.2rem 0;
    background: black;
  }
  .hamburger-menu-wrapper {
    padding-bottom: 0.75rem;
  }
}
