:root {
  --lightBlue: #7BBEFF;
  --mediumBlue: #71B9FF;
  --darkBlue: #56AAFD;
  --lightBlueGrey: #73B5F5;
  --lightGrey: #EBEAEA;
  --mediumGrey: #E3E3E3;
  --darkGrey: #DFDFDF;
  --red: #E35454;
  --white: #FFFFFF;
  /*EXTRA?*/
  --textDarkBlue: #36618A;
  --gradeBlue: linear-gradient(190deg, var(--darkBlue) 33%, var(--mediumBlue) 33%, var(--mediumBlue) 73%, var(--lightBlue) 73%);
  --gradeGrey: linear-gradient(200deg, var(--darkGrey) 15%, var(--mediumGrey) 15%, var(--mediumGrey) 40%, var(--lightGrey) 40%);

}

@font-face {
  font-family: "Saira_Expanded";
  src: url(Saira_Expanded-Light.ttf)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width:100%;
  background: var(--white);
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 120px 1fr 25px;
}

.sidebarBox {
  background: var(--gradeGrey);
 
}

.sidebarList {
  font-family: Saira_Expanded;
  font-size: 130%;
  color: var(--textDarkBlue);
  padding: 50px;
  list-style: none;
  width: 100%;
  padding-left: 20px;
  padding-right: 0px;
  
}

.sidebarList > li {
  padding: 5%;
  width: 100%;
  padding-right: 0;

}

.sidebarList :hover{
  text-decoration-line: underline;
  cursor: pointer;
}

.maincontent{
  padding: 5%;
  
}

.logoHeader{
  background-color: var(--darkGrey);
  color: var(--textDarkBlue);
  font-family: Saira_Expanded;
    padding: 25%;
    display: flex;
    /* text-align: justify;
    justify-content:center; */
    justify-content: space-between;
    align-items: center;
    
}

.textHeader{
  color: var(--textDarkBlue);
  padding: 10px;
  font-family: Saira_Expanded;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#logo{
  text-align: center;
  padding: 15px;
  padding-right: 65px;
  padding-bottom: 40px;
}

#bim{
  font-size: 0.6em;
}

footer{
  font-family: Saira_Expanded;
}
.line{
  background-color: var(--darkGrey);
  width: 90%;
  height: 3px;
  border-top: none;
  border-left: none;
  margin: auto;
}
.textHeader{
  font-weight: bold;
  font-size: 170%;
}

#dateSelector{
  padding: 15px;
  padding-left: 65px;
}
  
