:root {
  --lightBlue: #71B9FF;
  --darkBlue: #36618A;
  --white: #FFFFFF;
  --baseLightGrey: #E1E1E1;
  --red: #E35454;
  /*EXTRA?*/
  --lightBlueGrey: #73B5F5;
}

@font-face {
  font-family: "Saira_Expanded";
  src: url(Saira_Expanded-Light.ttf)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: var(--white);
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 120px 1fr 25px;
}

.sidebarBox {
  background-color: var(--baseLightGrey);
}

.sidebarList {
  font-family: Saira_Expanded;
  font-size: 130%;
  color: var(--darkBlue);
  padding: 50px;
  list-style: none;
  width: 100%;
  padding-left: 20px;
  padding-right: 0px;
  
}

.sidebarList > li {
  padding: 5%;
  width: 100%;
  padding-right: 0;

}

.sidebarList :hover{
  text-decoration-line: underline;
  cursor: pointer;
}

.maincontent{
  padding: 5%;
}

.logoHeader{
  background-color: var(--baseLightGrey);
}


