.sidebarList > .social {
    background-color: var(--white);
}

footer{
    display:flex;
    justify-content: space-between;
}

#feedback{
    display: flex;
    justify-content: center;
    color:indianred;
}

#forms{
    width: 80%;
}

label {
    color: Black;
    text-shadow: none;
}