.form-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#forms {
  width: 20rem;
}

.sidebarList > .social {
  background: linear-gradient(
    90deg,
    var(--lightGrey),
    var(--white),
    var(--white)
  );
}

footer {
  display: flex;
  justify-content: space-between;
}

label {
  color: Black;
  text-shadow: none;
}

caption {
  text-align: start;
  visibility: hidden;
}
