table {
  width: 100%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.233) 2px 2px 2px;
  font-family: Saira_Expanded;
}

th {
  color: white;
  text-align: left;
  background-color: var(--lightBlue);
}

table, th, td {
  border-collapse: collapse;
  border-radius: 10px, 30px, 10px, 5px;
}

th, td {
  padding: 7px;
}
td > button{
  width:100%;
}

tr:nth-child(even) {
  background-color: white;
}
tr:nth-child(odd) {
  background-color: var(--baseLightGrey);
}